@using TechZoneBgWebProject.Web.Infrastructure.Extensions
@model TechZoneBgWebProject.Web.ViewModels.Users.UsersOrdersViewModel

<div class="tt-wrapper-section">
    <div class="container">
        <div class="tt-user-header">
            <div class="tt-col-avatar">
                <div class="tt-icon">
                    <svg class="tt-icon">
                        <use xlink:href="@Model.ProfilePicture"></use>
                    </svg>
                </div>
            </div>
            <div class="tt-col-title">
                <div class="tt-title">
                    <a asp-area=""
                       asp-controller="Users"
                       asp-action="Executed"
                       asp-route-id="@Model.Id">
                        @(Model.FirstName + " " + Model.LastName)
                    </a>
                </div>
                <ul class="tt-list-badge">
                    <li>
                        @if (Model.ExecutingCount > 0)
                        {
                            <a asp-area=""
                               asp-controller="Users"
                               asp-action="Executing"
                               asp-route-id="@Model.Id">
                                <span class="tt-color14 tt-badge" style="background-color:#60a3eb; padding-left:10px; padding-right:10px">Поръчки в изпълнение: @Model.ExecutingCount бр.</span>
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <span class="tt-color14 tt-badge" style="background-color:#60a3eb; padding-left:10px; padding-right:10px">Нямате неизпълнени поръчки</span>
                            </a>
                        }
                        </li>
                </ul>
            </div>

            @if (Model.Id == this.User.GetId())
            {
            <a href="/Identity/Account/Manage" class="tt-icon-btn" style="color: #666f74">
                <i class="fas fa-cog"></i>
            </a> }
        </div>
    </div>
</div>
