@model List<TechZoneBgWebProject.Web.ViewModels.Devices.DevicesListingViewModel>
@{
    ViewData["Title"] = "Устройства";
}


<div class="tt-tab-wrapper">

    <vc:devices-details user-id="1"></vc:devices-details>

    <nav class="tt-topic-list cart-list" style="word-break: break-word; margin: 40px 0px;">

        @if (Model.Any())
        {

            <h2 style="text-align:center; padding-bottom:40px;">Намерени устройства</h2>
            <table align="center">
                <thead>
                    <tr class="thead-cart">
                        <th class="cart-min cart-text order-address-all">Дата</th>
                        <th class="cart-text order-address">Устройство</th>
                        <th class="cart-text order-address">Имеи</th>
                        <th class="cart-min cart-text  order-address">Продавач</th>
                        <th class="cart-text order-address-all">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model)
                    {

                    <tr id="@device.Id" class="tt-itemOrder order-name clickable" onclick="location.href='/Devices/Details/@device.Id';" style="cursor:pointer">
                        <td class="cart-min order-address-all" style="font-size:20px">
                            <div>
                                @device.CreatedOn
                            </div>
                        </td>
                        <td class="cart-text order-address" style="font-size:20px;">
                            <div>
                                @device.Brand @device.DeviceModel @device.Memory @device.Color
                            </div>
                        </td>
                        <td class="cart-text order-address">
                            <div>
                                @device.Imei
                            </div>
                        </td>
                        <td class="cart-min cart-text  order-address">
                            <div>
                                @device.Seller
                            </div>
                        </td>
                        <td class="order-address-all" style="font-size:20px;">
                            <div>
                                @device.Status
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="tt-layout-404">
                <h6 class="tt-title">Няма намерени устройства по този критерий</h6>
            </div>
        }

    </nav>

</div>


