@using TechZoneBgWebProject.Common
@using TechZoneBgWebProject.Data.Models.Enums
@model TechZoneBgWebProject.Web.ViewModels.Devices.DeviceCreateInputModel
@{
    ViewData["Title"] = "Ново устройство";
}

<div class="tt-tab-wrapper">

    <vc:devices-details user-id="1"></vc:devices-details>

    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            Данни за Устройството
        </h1>
        <form class="form-default form-create-topic mb-5" asp-action="Create" method="POST">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="create-device">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="brand-label" asp-for="BrandId">Марка</label>
                            <select onchange="changeBrand()" class="brand-select" asp-for="BrandId" id="input-brand">
                                @foreach (var brand in Model.Brands)
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="BrandId"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="create-device">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="brand-label" asp-for="DeviceModelId">Модел</label>
                            <select class="brand-select" asp-for="DeviceModelId" id="input-device-Model">
                                <option  value="0">Моля изберете</option>
                                @foreach (var deviceModel in Model.DeviceModels)
                                {
                                    <option class="@deviceModel.BrandId deviceModelOptions" hidden value="@deviceModel.Id">@deviceModel.Name</option>

                                }
                            </select>
                            <span class="text-danger" asp-validation-for="DeviceModelId"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Color">Цвят</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Color"
                           type="text"
                           class="form-control"
                           placeholder="Cosmic Blue" />
                    <span class="text-danger" asp-validation-for="Color"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Memory">Памет</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Memory"
                           type="text"
                           class="form-control"
                           placeholder="256GB" />
                    <span class="text-danger" asp-validation-for="Memory"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Seller">Продавач</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Seller"
                           type="text"
                           class="form-control"
                           placeholder="Георги Георгиев" />
                    <span class="text-danger" asp-validation-for="Seller"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-auto mb-5 mt-5 mr-auto">
                    <button type="submit" class="btn btn-secondary btn-width-lg">Въведи устройство</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var $select1 = $('#input-brand').selectize({
            create: false,
            sortField: 'text',
            placeholder: 'Моля изберете...'
        });
        var $select2 = $('#input-deviceModel').selectize({
            create: false,
            sortField: 'text',
            placeholder: 'Моля изберете...'
        });

        var brand = document.querySelector('#input-brand').value;
        document.querySelectorAll("." + CSS.escape(brand)).forEach(function (o) {
            o.hidden = false;
        });

        function changeBrand(){
            var brand = document.querySelector('#input-brand').value;
            document.querySelectorAll(".deviceModelOptions").forEach(function (o) {
                o.hidden = true;
            });
            document.querySelectorAll("." + CSS.escape(brand)).forEach(function (o) {
                o.hidden = false;
            });
        };
        
    </script>      
        <partial name="_ValidationScriptsPartial" />
}
