@model TechZoneBgWebProject.Web.ViewModels.Devices.DeviceDetailsViewModel
@{
    ViewData["Title"] = $"Досие на {Model.DeviceModel} {Model.Memory} {Model.Color}";
}

<div class="tt-tab-wrapper">

    <vc:devices-details user-id="1"></vc:devices-details>

    <nav class="tt-topic-list cart-list" style="word-break: break-word; margin: 40px 0px;">
        <h2 style="text-align: center;
                text-align: center;
                padding: 20px;
                margin-bottom: 20px;
                background-color: #efeeee;">
             Досие на устройството
        </h2>
        <div>
            <div>
                <h1>@Model.DeviceModel @Model.Memory @Model.Color</h1>
            </div>
            <div>
                <h3>Закупен от: @Model.Seller</h3>
            </div>
            <div class="form-group-conteiner">
                <div>
                    <div style="font-size: 20px; display:inline-block">IMEI</div>
                    <div class="checkList-input-text" style="font-size: 20px; display:inline-block; border:none">@Model.Imei</div>
                    <ul class="checkList-list">
                        <li class="checkList-header">
                            <div>Проверка за:</div>
                            <div class="checkList-head-condition">Състояние</div>
                            <div>Бележка</div>
                        </li>
                        @foreach (var check in Model.Checks)
                        {
                            <li class="checList-item">
                                <div class="checkList-label">@check.Name</div>
                                <div class="checkList-radio">
                                    @if (check.Condition == true)
                                    {
                                        <div>
                                            <img src="~/images/checkedIcon.png" width="20" />
                                        </div>
                                    }
                                    else if (check.Condition == false)
                                    {
                                        <div>
                                            <img src="~/images/NotCheckedIcon.png" width="20" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div>не е проверен</div>
                                    }
                                </div>
                                <div class="checkList-description" style="width: 220px;">@check.Description</div>

                            </li>
                        }

                    </ul>
                    <div class="select-list" style="border-bottom: 1px solid #ebe9e9;">
                        <div class="create-device">
                            <div class="details-label">Описание на състоянието</div>
                            <div>@Model.Description</div>
                        </div>
                    </div>
                    <div class="select-list" style="border-bottom: 1px solid #ebe9e9;">
                        <div class="create-device">
                            <div class="details-label">Категория на устройството</div>
                            <div>@Model.Condition</div>
                        </div>
                        <div class="create-device">
                            <div class="details-label">Ремонти</div>
                            <div>@Model.Repairs</div>
                        </div>

                    </div>
                    <div class="details-status">
                        <form method="POST" style="width:75%">
                            <div class="select-condition-list">
                                <div class="row">
                                    <div class="col-auto mb-5 mt-5 mr-auto">
                                        <button type="submit" class="btn btn-secondary btn-width-lg">Запис</button>
                                    </div>
                                </div>
                                <div class="create-device">
                                    <div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="brand-label details-label" asp-for="StatusId">Статус</label>
                                                <select onchange="changeBrand()" class="brand-select select-list-item" asp-for="StatusId" id="input-status">
                                                    @foreach (var status in Model.Status)
                                                    {
                                                        if (status.Id == Model.StatusId)
                                                        {
                                                            <option value="@status.Id" selected>@status.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@status.Id">@status.Name</option>
                                                        }

                                                    }
                                                </select>
                                                <span class="text-danger" asp-validation-for="StatusId"></span>
                                                <input type="text" name="Id" value="@Model.Id" hidden />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="export">
                            <div style="font-weight:bold">Експорт</div>
                            <div class="details-btn">
                                <div class="row">
                                    <div class="col-auto mb-5 mt-5 mr-auto">
                                        <a asp-area="" asp-controller="Devices" asp-action="PDF" asp-route-Id="@Model.Id" class="btn btn-secondary btn-width-lg">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    
                </div>
            </div>
        </div>
    </nav>
    </div>
        @section Scripts {
            <script>
                var $select = $('#input-condition').selectize({
                    create: false,
                    sortField: 'text',
                    placeholder: 'Моля изберете...'
                });

            </script>

            <partial name="_ValidationScriptsPartial" />
        }
