@model TechZoneBgWebProject.Web.ViewModels.Devices.DeviceNotInspectedImputModel
@{
    ViewData["Title"] = Model.DeviceModel;
}

<div class="tt-tab-wrapper">

    <vc:devices-details user-id="1"></vc:devices-details>

    <nav class="tt-topic-list cart-list" style="word-break: break-word; margin: 40px 0px;">
        <h2 style="text-align: center;
                text-align: center;
                padding: 20px;
                margin-bottom: 20px;
                background-color: #efeeee;">
            Инспекция на устройството
        </h2>
        <div>
            <div>
                <h1>@Model.DeviceModel @Model.Memory @Model.Color</h1>
            </div>
            <div>
                <h3>Закупен от: @Model.Seller</h3>
            </div>
            <div class="form-group-conteiner">
                <form method="POST">
                    <label style="font-size: 20px;" for="imei">IMEI</label>
                    <input style="font-size: 20px;" id="imei" class="checkList-input-text" name="Imei" placeholder="въведете имеи" value="@Model.Imei" />
                    <span class="text-danger" asp-validation-for="Imei"></span>
                    <br />
                    <ul class="checkList-list">
                        @{int inputIndex = 0; }
                        <li class="checkList-header">
                            <div>Проверка за:</div>
                            <div class="checkList-head-condition">Състояние</div>
                            <div>Бележка</div>
                        </li>

                        @foreach (var check in Model.Checks)
                        {
                            <li class="checList-item">
                                <div class="checkList-label">
                                    <label style="margin-right: 20px;">@check.Name :</label>
                                </div>
                                <div class="checkList-radio">
                                    @if (check.Condition == true)
                                    {
                                        <input class="input-radio" id="yes-button@(inputIndex)" type="radio" name="InputChecks[@(inputIndex)].Condition" value="true" checked />
                                        <label class="button-label option-1" for="yes-button@(inputIndex)"><span>ДА</span></label>
                                        <input class="input-radio" id="no-button@(inputIndex)" type="radio" name="InputChecks[@(inputIndex)].Condition" value="false" />
                                        <label class="button-label option-2" for="no-button@(inputIndex)"><span>НЕ</span></label>
                                    }
                                    else if (check.Condition == false)
                                    {
                                        <input class="input-radio" id="yes-button@(inputIndex)" type="radio" name="InputChecks[@(inputIndex)].Condition" value="true" />
                                        <label class="button-label option-1" for="yes-button@(inputIndex)"><span>ДА</span></label>
                                        <input class="input-radio " id="no-button@(inputIndex)" type="radio" name="InputChecks[@(inputIndex)].Condition" value="false" checked />
                                        <label class="button-label option-2" for="no-button@(inputIndex)"><span>НЕ</span></label>
                                    }
                                    else
                                    {
                                        <input class="input-radio" id="yes-button@(inputIndex)" type="radio" name="InputChecks[@(inputIndex)].Condition" value="true" />
                                        <label class="button-label option-1" for="yes-button@(inputIndex)"><span>ДА</span></label>
                                        <input class="input-radio" id="no-button@(inputIndex)" type="radio" name="InputChecks[@(inputIndex)].Condition" value="false" />
                                        <label class="button-label option-2" for="no-button@(inputIndex)"><span>НЕ</span></label>
                                    }
                                </div>
                                <div class="checkList-description">
                                    <input type="text" class="checkList-input-text" name="InputChecks[@(inputIndex)].Description" value="@check.Description" />
                                    <input type="text" name="InputChecks[@(inputIndex)].Id" value="@check.Id" hidden />
                                    <input type="text" name="InputChecks[@(inputIndex)].Name" value="@check.Name" hidden />
                                </div>
                            </li>
                            inputIndex++;
                        }

                    </ul>
                    <div class="select-list">
                        <div class="create-device">
                            <label for="description">Описание на състоянието</label><br />
                            <textarea id="description" placeholder="въведете състоянието на устройството..." rows="3" cols="50" name="Description">@Model.Description</textarea>
                        </div>
                        <div class="create-device">
                            <label for="repairs">Ремонти</label><br />
                            <textarea id="repairs" placeholder="въведете ремонт от който се нуждае устройството..." rows="3" cols="50" name="Repairs">@Model.Repairs</textarea>
                        </div>
                    </div>
                    <div class="select-condition-list">
                        <div class="row">
                            <div class="col-auto mb-5 mt-5 mr-auto">
                                <button type="submit" class="btn btn-secondary btn-width-lg">Готово</button>
                            </div>
                        </div>
                        <div class="create-device">
                            <div>
                                <div class="col-md-4">
                                    <div class="form-group" style="width: 391px;">
                                        <label class="brand-label" asp-for="ConditionId">Състояние на устройството</label>
                                        <select class="brand-select select-list-item" asp-for="ConditionId" id="input-condition">
                                            <option value="@Model.Condition">@Model.ConditionName</option>
                                            @foreach (var condition in Model.Conditions)
                                            {
                                                <option value="@condition.Id">@condition.Name</option>
                                            }
                                        </select>
                                        <span class="text-danger" asp-validation-for="ConditionId"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Info-icon">?</div>
                        <div class="hiden-info">
                            <div class="hiden-info-text">
                                <div class="hidden-text-header">Като нов</div>
                                <div>
                                    <span>Екран:</span>
                                    Като нов е или почти перфектен. Може да има незабележима следа от износване.<br />
                                    <span>Задна страна на телефона:</span>
                                    Като нов е или почти перфектен. Може да има незабележима следа от износване.<br />
                                    <span>Рамка:</span>
                                    Като нова или почти перфектна. Може да има незабележима следа от износване.<br />
                                </div>
                                <div class="hidden-text-header">Отличен</div>
                                <div>
                                    <span>Екран:</span>
                                    Показва някои (1-3) много фини драскотини, почти незабележими дори от близко разстояние.<br />
                                    <span>Задна страна на телефона:</span>
                                    Има някои много фини драскотини, видими само от много близко разстояние.<br />
                                    <span>Рамка:</span>
                                    Има някои много фини драскотини в максимум 2 ъгъла или фини драскотини в порта за зареждане.<br />
                                </div>
                                <div class="hidden-text-header">Много добър</div>
                                <div>
                                    <span>Екран:</span>
                                    Може да има няколко повърхностни драскотини или максимум 2 дълбоки драскотини. Следи от нормално износване.<br />
                                    <span>Задна страна на телефона:</span>
                                    Може да има няколко повърхностни драскотини, малки обезцветявания или максимум 2 лесно видими драскотини. Следи от нормално износване.<br />
                                    <span>Рамка:</span>
                                    Може да има няколко повърхностни драскотини, малки обезцветявания или максимум 4 лесно видими драскотини. Следи от нормално износване.<br />
                                </div>
                                <div class="hidden-text-header">Добър</div>
                                <div>
                                    <span>Екран:</span>
                                    Има видими драскотини по повърхността или няколко дълги и по -дълбоки драскотини.<br />
                                    <span>Задна страна на телефона:</span>
                                    Има множество видими драскотини, точки, избледняващи следи или няколко дълги, дълбоки драскотини.<br />
                                    <span>Рамка:</span>
                                    Има множество видими драскотини, точки, следи от обезцветяване или няколко дълбоки драскотини.<br />
                                </div>
                            </div>

                        </div>

                    </div>
                    
                </form>
            </div>
        </div>
        </nav>
    </div>
        @section Scripts {

            <partial name="_ValidationScriptsPartial" />
        }
