@model TechZoneBgWebProject.Web.ViewModels.Orders.OrdersAllViewModel
@{
    ViewData["Title"] = "Поръчки";
}

<div class="container">
    <nav class="tt-topic-list" style="word-break: break-word;">

        @if (Model.Carts.Any())
        {


            @if (Model.TotalPages > 0)
            {
                <div class="text-center">
                    <nav>
                        <ul class="pagination mb-4">
                            <li>
                                <a asp-area=""
                                   asp-controller="Orders"
                                   asp-action="All"
                                   asp-route-page="@Model.PreviousPage">
                                    &laquo;
                                </a>
                            </li>
                            @if (Model.TotalPages <= 3)
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (Model.PageIndex < 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Orders"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }
                                else if (Model.PageIndex > Model.TotalPages - 2)
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Orders"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Orders"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }

                            }
                            <li>
                                <a asp-area=""
                                   asp-controller="Orders"
                                   asp-action="All"
                                   asp-route-page="@Model.NextPage">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }

            <table>
                <thead>
                    <tr>
                        <th class="Cart-min cart-text">Юсер</th>
                        <th class="cart-text">Адрес</th>
                        <th class="Cart-min cart-text">Сума</th>
                        <th class="cart-text">Коментар</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in Model.Carts)
                    {

                    <tr id="@cart.Id" class="tt-itemOrder">
                        <td class="Cart-min cart-text">
                            @cart.FirstName @cart.LastName
                        </td>
                        <td>
                            <div>
                                @cart.Address
                            </div>
                        </td>
                        <td class="Cart-min cart-text">
                            <div style="font-size: 22px; padding: 5px;" class="tt-col-value hide-mobile">@cart.Sum лв.</div>
                        </td>
                        <td id="@cart.Comment" class="cart-text cart-quantity">
                            <div style="height: 28px;">
                                @cart.Comment
                            </div>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@cart.Id">
                                Детайли
                            </a>
                        </td>
                    </tr>


                    }
                </tbody>
            </table>

            @if (Model.TotalPages > 0)
            {
                <div class="text-center">
                    <nav>
                        <ul class="pagination mb-4">
                            <li>
                                <a asp-area=""
                                   asp-controller="Orders"
                                   asp-action="All"
                                   asp-route-page="@Model.PreviousPage">
                                    &laquo;
                                </a>
                            </li>
                            @if (Model.TotalPages <= 3)
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (Model.PageIndex < 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Orders"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }
                                else if (Model.PageIndex > Model.TotalPages - 2)
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Orders"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Orders"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a style="border: none; padding: 8px 0px;">
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Orders"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }

                            }
                            <li>
                                <a asp-area=""
                                   asp-controller="Orders"
                                   asp-action="All"
                                   asp-route-page="@Model.NextPage">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
        }
        else
        {
            <div class="tt-layout-404">
                <h6 class="tt-title">Няма неизпълнени поръчки</h6>
            </div>
        }

    </nav>
</div>