@model TechZoneBgWebProject.Web.ViewModels.Orders.OrdersAllViewModel
@{
    ViewData["Title"] = "Поръчки";
}
<div class="tt-tab-wrapper">
    <vc:order-details user-id="1"></vc:order-details>
</div>


<div class="container" style="padding-top: 50px;">
    @if (Model.Carts.Any())
    {
        @if (Model.TotalPages > 0)
        {
            <div class="text-center">
                <nav>
                    <ul class="pagination mb-4">
                        <li>
                            <a asp-area=""
                               asp-controller="Orders"
                               asp-action="Executed"
                               asp-route-page="@Model.PreviousPage">
                                &laquo;
                            </a>
                        </li>
                        @if (Model.TotalPages <= 3)
                        {
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                var active = i == Model.PageIndex ? "active" : string.Empty;
                                <li>
                                    <a class="@active"
                                       asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="@i">
                                        @i
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            @if (Model.PageIndex < 3)
                            {
                                @for (int i = 1; i <= 3; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="Executed"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="@Model.TotalPages">
                                        @Model.TotalPages
                                    </a>
                                </li>
                            }
                            else if (Model.PageIndex > Model.TotalPages - 2)
                            {
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="1">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="Executed"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="1">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="Executed"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="@Model.TotalPages">
                                        @Model.TotalPages
                                    </a>
                                </li>
                            }

                        }
                        <li>
                            <a asp-area=""
                               asp-controller="Orders"
                               asp-action="Executed"
                               asp-route-page="@Model.NextPage">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
    }



    <nav class="tt-topic-list cart-list" style="word-break: break-word;">

        @if (Model.Carts.Any())
        {

            <h2 style="text-align:center; padding-bottom:40px;">Преглед на изпълнените поръчките</h2>
            <table align="center">
                <thead>
                    <tr class="thead-cart">
                        <th class="cart-min cart-text order-address">Дата</th>
                        <th class="cart-text order-name">Име</th>
                        <th class="cart-min cart-text order-phone">Телефон</th>
                        <th class="cart-text order-sum">Сума</th>
                        <th class="cart-min cart-text order-comment">Коментар</th>
                        <th class="cart-min cart-text order-comment"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in Model.Carts)
                    {

                        <tr id="@cart.Id" class="tt-itemOrder order-name">
                            <td class="cart-min order-address" style="font-size:20px;">
                                <div>
                                    @cart.Time
                                </div>
                            </td>
                            <td class="cart-text">
                                @cart.FirstName @cart.LastName
                            </td>
                            <td class="cart-min cart-text order-phone">
                                @cart.PhoneNumber
                            </td>
                            <td class="cart-text order-sum">
                                <div style="font-size: 22px; padding: 5px;" class="tt-col-value hide-mobile">@cart.Sum лв.</div>
                            </td>
                            <td id="@cart.Comment" class="cart-min cart-text cart-quantity order-comment">
                                <div>
                                    @cart.Comment
                                </div>
                            </td>
                            <td class="order-details">
                                <a asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@cart.Id">
                                    Детайли
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="tt-layout-404">
                <h6 class="tt-title">Няма неизпълнени поръчки</h6>
            </div>
        }

    </nav>

    @if (Model.Carts.Any())
    {
        @if (Model.TotalPages > 0)
        {
            <div class="text-center">
                <nav>
                    <ul class="pagination mb-4">
                        <li>
                            <a asp-area=""
                               asp-controller="Orders"
                               asp-action="Executed"
                               asp-route-page="@Model.PreviousPage">
                                &laquo;
                            </a>
                        </li>
                        @if (Model.TotalPages <= 3)
                        {
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                var active = i == Model.PageIndex ? "active" : string.Empty;
                                <li>
                                    <a class="@active"
                                       asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="@i">
                                        @i
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            @if (Model.PageIndex < 3)
                            {
                                @for (int i = 1; i <= 3; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="Executed"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="@Model.TotalPages">
                                        @Model.TotalPages
                                    </a>
                                </li>
                            }
                            else if (Model.PageIndex > Model.TotalPages - 2)
                            {
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="1">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="Executed"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="1">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Orders"
                                           asp-action="Executed"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a style="border: none; padding: 8px 0px;">
                                        ...
                                    </a>
                                </li>
                                <li>
                                    <a asp-area=""
                                       asp-controller="Orders"
                                       asp-action="Executed"
                                       asp-route-page="@Model.TotalPages">
                                        @Model.TotalPages
                                    </a>
                                </li>
                            }

                        }
                        <li>
                            <a asp-area=""
                               asp-controller="Orders"
                               asp-action="Executed"
                               asp-route-page="@Model.NextPage">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
    }
</div>

