@using TechZoneBgWebProject.Web.Infrastructure.Extensions
@model TechZoneBgWebProject.Web.ViewModels.Replies.RepliesDetailsViewModel
@{ ViewData["Title"] = "Reply Details";
                async Task GetReplies(int? parentId)
                {
                    var replies = this.Model.Replies.Where(r => r.ParentId == parentId);
                    if (!replies.Any())
                    {
                        return;
                    }

                    foreach (var reply in replies)
                    {
    <div class="topic-inner-list">
        <div class="topic-inner">
            <div class="topic-inner-title">
                <div class="topic-inner-avatar">
                    <i class="tt-icon">
                        <svg>
                            <use xlink:href="@reply.AuthorProfilePicture"></use>
                        </svg>
                    </i>
                </div>
                <div class="topic-inner-title">
                    <a asp-area=""
                       asp-controller="Users"
                       asp-action="Threads"
                       asp-route-id="@reply.AuthorId">
                        @reply.AuthorFirstName
                    </a>
                </div>
            </div>
            <div class="topic-inner-description">
                @Html.Raw(reply.SanitizedDescription)
                <div class="tt-item-info info-bottom">

                    <partial name="_DetailsReactionsPartial" model="reply" />

                    <div class="col-separator"></div>

                    @if (reply.AuthorId == this.User.GetId() || this.User.IsAdministrator())
                    {
<a asp-area=""
   asp-controller="Replies"
   asp-action="Edit"
   asp-route-id="@reply.Id"
   class="tt-icon-btn"
   style="color: #666f74">
    <i class="fas fa-pen"></i>
</a>
                        <a asp-area=""
                           asp-controller="Replies"
                           asp-action="Delete"
                           asp-route-id="@reply.Id"
                           class="tt-icon-btn"
                           style="color: #666f74">
                            <i class="fas fa-trash-alt"></i>
                        </a>}

                    <a asp-area=""
                       asp-controller="ReplyReports"
                       asp-action="Create"
                       asp-route-id="@reply.Id"
                       class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon">
                            <svg><use xlink:href="#icon-flag"></use></svg>
                        </i>
                    </a>
                    <a asp-area=""
                       asp-controller="Replies"
                       asp-action="Details"
                       asp-route-id="@reply.Id"
                       class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon">
                            <svg><use xlink:href="#icon-reply"></use></svg>
                        </i>
                    </a>
                </div>
                @{ await GetReplies(reply.Id); }
            </div>
        </div>
    </div> }
                } }

<br />
<div class="container">
    <div class="tt-single-topic-list" style="word-break: break-word;">
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-header pt-noborder">
                    <div class="tt-item-info info-top">
                        <div class="tt-avatar-icon">
                            <i class="tt-icon">
                                @if (Model.AuthorProfilePicture.StartsWith("#icon-ava"))
                                {
                    <svg>
                        <use xlink:href="@Model.AuthorProfilePicture"></use>
                    </svg> }
                                else
                                {
                    <img src="https://res.cloudinary.com/forumnet/image/upload/t_profile-picture/@Model.AuthorProfilePicture"
                         alt="avatar"
                         class="tt-icon"
                         width="40"
                         height="40"
                         style="border-radius: 50%" />}
                            </i>
                        </div>
                        <div class="tt-avatar-title">
                            <a asp-area=""
                               asp-controller="Users"
                               asp-action="Threads"
                               asp-route-id="@Model.AuthorId">
                                @Model.AuthorFirstName
                            </a>
                        </div>
                        <a href="#" class="tt-info-time">
                            <i class="tt-icon fas fa-calendar-alt"></i>@Model.CreatedOn
                        </a>
                    </div>
                </div>
                <div class="tt-item-description">
                    <p>@Html.Raw(Model.SanitizedDescription)</p>
                    @{ await GetReplies(Model.Id); }
                </div>
                <form id="reactions-form" method="post"></form>
                <div class="tt-item-info info-bottom">

                    <partial name="_DetailsReactionsPartial" model="Model" />

                    <div class="col-separator"></div>

                    @if (Model.AuthorId == this.User.GetId() || this.User.IsAdministrator())
                    {
        <a asp-area=""
           asp-controller="Replies"
           asp-action="Edit"
           asp-route-id="@Model.Id"
           class="tt-icon-btn"
           style="color: #666f74">
            <i class="fas fa-pen"></i>
        </a>
                        <a asp-area=""
                           asp-controller="Replies"
                           asp-action="Delete"
                           asp-route-id="@Model.Id"
                           class="tt-icon-btn"
                           style="color: #666f74">
                            <i class="fas fa-trash-alt"></i>
                        </a>}

                    <a asp-area=""
                       asp-controller="ReplyReports"
                       asp-action="Create"
                       asp-route-id="@Model.Id"
                       class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon">
                            <svg><use xlink:href="#icon-flag"></use></svg>
                        </i>
                    </a>
                    <button class="tt-icon-btn"
                            style="padding: 0; border: none; background: none; outline: none; color: #666f74"
                            onclick="animateButton()">
                        <i class="tt-icon">
                            <svg><use xlink:href="#icon-reply"></use></svg>
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-auto ml-md-auto">
                <a asp-area=""
                   asp-controller="Posts"
                   asp-action="Details"
                   asp-route-id="@Model.PostId"
                   class="btn btn-primary">
                    Back to post
                </a>
            </div>
        </div>
    </div>
    <div id="reply-box">
        <vc:create-reply post-id="@Model.PostId" parent-id="@Model.Id"></vc:create-reply>
    </div>
</div>

@section Scripts {
    <script>var token = $("#reactions-form input[name=__RequestVerificationToken]").val();

        function animateButton() {
            $('html, body').animate({
                scrollTop: $("#reply-box").offset().top
            }, 1500);
        }

        function likeReaction(id) {
            $.ajax({
                type: "GET",
                url: "/api/reply-reactions/like/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-dislike-" + id).html(json.dislike);
                }
            });
        }

        function loveReaction(id) {
            $.ajax({
                type: "GET",
                url: "/api/reply-reactions/dislike/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-dislike-" + id).html(json.dislike);
                }
            });
        }</script>
}