@model TechZoneBgWebProject.Web.ViewModels.Products.ProductAllViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <nav class="tt-topic-list" style="word-break: break-word;">

        @if (Model.Products.Any())
        {


            @if (Model.TotalPages > 0 && Model.Search == null)
            {
                <div class="text-center">
                    <nav>
                        <ul class="pagination mb-4">
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-page="@Model.PreviousPage">
                                    &laquo;
                                </a>
                            </li>
                            @if (Model.TotalPages <= 3)
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (Model.PageIndex < 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }
                                else if (Model.PageIndex > Model.TotalPages - 2)
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }

                            }
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-page="@Model.NextPage">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
            else if (Model.TotalPages > 0 && Model.Search != null)
            {
                <div class="text-center">
                    <nav>
                        <ul class="pagination mb-4">
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-search="@Model.Search"
                                   asp-route-page="@Model.PreviousPage">
                                    &laquo;
                                </a>
                            </li>
                            @if (Model.TotalPages <= 3)
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (Model.PageIndex < 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-search="@Model.Search"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }
                                else if (Model.PageIndex > Model.TotalPages - 2)
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-search="@Model.Search"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-search="@Model.Search"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }

                            }
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-search="@Model.Search"
                                   asp-route-page="@Model.NextPage">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }

            @if (Model.Search != null)
            {
                <div style="text-align:center; font-size: 22px">
                    Резултат за "@Model.Search"
                </div>
            }


            @foreach (var product in Model.Products)
            {
                var className = "tt-item";


                <div class="@className">
                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                        <div class="tt-col-avatar">
                            <img class="tt-icon" src="@product.Pic">
                        </div>
                        <div class="tt-col-description" style="height: 85px;">
                            <div class="tt-title">
                                <div style="font-size: 14px" asp-area=""
                                     asp-controller="Products"
                                     asp-action="Details"
                                     asp-route-id="@product.Id">
                                    @product.Name
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col-11">
                                    <ul class="tt-list-badge">
                                        <li class="show-mobile">
                                            <span class="tt-color01 tt-badge">Налично</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tt-col-category">
                            <span class="tt-color13 tt-badge">Налично</span>
                            <div class="tt-color01 tt-badge">Поръчай</div>
                        </div>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <div style="font-size: 22px; padding: 5px;" class="tt-col-value hide-mobile">@product.Price лв.</div>
                        }
                    </a>
                </div>
            }

            @if (Model.TotalPages > 0 && Model.Search == null)
            {
                <div class="text-center">
                    <nav>
                        <ul class="pagination mb-4">
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-page="@Model.PreviousPage">
                                    &laquo;
                                </a>
                            </li>
                            @if (Model.TotalPages <= 3)
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (Model.PageIndex < 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }
                                else if (Model.PageIndex > Model.TotalPages - 2)
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }

                            }
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-page="@Model.NextPage">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
            else if (Model.TotalPages > 0 && Model.Search != null)
            {
                <div class="text-center">
                    <nav>
                        <ul class="pagination mb-4">
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-search="@Model.Search"
                                   asp-route-page="@Model.PreviousPage">
                                    &laquo;
                                </a>
                            </li>
                            @if (Model.TotalPages <= 3)
                            {
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    var active = i == Model.PageIndex ? "active" : string.Empty;
                                    <li>
                                        <a class="@active"
                                           asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (Model.PageIndex < 3)
                                {
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-search="@Model.Search"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }
                                else if (Model.PageIndex > Model.TotalPages - 2)
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.TotalPages - 2; i <= Model.TotalPages; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-search="@Model.Search"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="1">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    @for (int i = Model.PageIndex - 1; i <= Model.PageIndex + 1; i++)
                                    {
                                        var active = i == Model.PageIndex ? "active" : string.Empty;
                                        <li>
                                            <a class="@active"
                                               asp-area=""
                                               asp-controller="Products"
                                               asp-action="All"
                                               asp-route-search="@Model.Search"
                                               asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a>
                                            ...
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="Products"
                                           asp-action="All"
                                           asp-route-search="@Model.Search"
                                           asp-route-page="@Model.TotalPages">
                                            @Model.TotalPages
                                        </a>
                                    </li>
                                }

                            }
                            <li>
                                <a asp-area=""
                                   asp-controller="Products"
                                   asp-action="All"
                                   asp-route-search="@Model.Search"
                                   asp-route-page="@Model.NextPage">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
        }
        else
        {
            @if (Model.Search != null)
            {
                <div style="text-align:center; font-size: 22px">
                    Резултат за "@Model.Search"
                </div>
            }
            <div class="tt-layout-404">
                <h6 class="tt-title">Няма намерени продукти</h6>
            </div>
        }

    </nav>
</div>
