@using TechZoneBgWebProject.Web.Infrastructure.Extensions
@model TechZoneBgWebProject.Web.ViewModels.Products.ProductDetailsViewModel
@{ ViewData["Title"] = Model.Name;
}
<br />
<div class="container">
    <div class="tt-single-topic-list" style="word-break: break-word;">
        <div class="tt-item tt-details">
            <div class="tt-single-topic">
                <div class="tt-item-header">
                    <div class="tt-item-info info-top">
                    </div>
                    <h3 class="tt-item-title">
                        @Model.Name
                    </h3>
                </div>
                <div class="tt-item-description">
                    <img src="@Model.Pic">
                    <h3 class="tt-item-title">
                        @Model.Price лв.
                    </h3>
                    <div class="details">
                        <a id="@Model.Id">
                            <span class="tt-color13 tt-badge">Налично</span>
                            <div class="tt-color01 tt-badge" id="btn">
                                <span data-stock="1" data-pid="44977" data-prid="44769" style="padding-right: 5px;" class="add-to-cart-span">Добави в количка</span>
                                <a class="add-to-cart-left">-</a>
                                <input class="add-to-cart-quantity" type="text" name="quantity" value="1">
                                <a class="add-to-cart-right">+</a>
                            </div>
                            <p>@Model.Barcode</p>
                        </a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $("a").click(function (e) {
            if (e.target.className == "add-to-cart-quantity" || e.target.className == "add-to-cart-left" || e.target.className == "add-to-cart-span" || e.target.className == "add-to-cart-right") {
                e.preventDefault();
                if (e.target.className == "add-to-cart-left") {
                    let quantity = e.target.offsetParent.childNodes[3];
                    quantity.value = (Number(quantity.value) - 1).toString();
                }
                if (e.target.className == "add-to-cart-right") {
                    let quantity = e.target.offsetParent.childNodes[3];
                    quantity.value = (Number(quantity.value) + 1).toString();
                }
                if (e.target.className == "add-to-cart-span") {
                    let quantity = e.target.offsetParent.childNodes[3].value;
                    alert(`поръчахте ${quantity} броя от продукт с Id ${e.currentTarget.id}`);

                }

            }

            //$.ajax({
            //    type: "GET",
            //    url: "/",
            //    success: function (json) {
            //        if (json === true) {
            //            $('#cartSum').html('Unpin');
            //        } else {
            //            $('#cartSum').html('поръчка');
            //        }
            //    }
            //});
        })

    </script>
}