@using TechZoneBgWebProject.Web.Infrastructure.Extensions
@model TechZoneBgWebProject.Web.ViewModels.Products.ProductDetailsViewModel
@{ ViewData["Title"] = Model.Name;
}
<br />
<div class="container">
    <div class="tt-single-topic-list" style="word-break: break-word;">
        <div class="tt-item tt-details">
            <div class="tt-single-topic">
                <div class="tt-item-header">
                    <div class="tt-item-info info-top">
                    </div>
                    <h3 class="tt-item-title">
                        @Model.Name
                    </h3>
                </div>
                <div class="tt-item-description">
                    <img src="@Model.Pic">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <h3 class="tt-item-title">
                            @Model.Price лв.
                        </h3>
                    }
                    else
                    {
                        <h3 class="tt-item-title">
                            @(Model.Price * 2) лв.
                        </h3>
                    }

                    <div class="details">
                        <a id="@Model.Id">
                            <span style="padding-right: 5px; padding-left: 5px" class="tt-color13 tt-badge">Налично</span>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                        <div class="tt-color01 tt-badge" id="btn">
                            <span data-stock="1" data-pid="44977" data-prid="44769" style="padding-right: 5px; padding-left: 5px" class="add-to-cart-span">Добави в количка</span>
                            <a class="add-to-cart-left">-</a>
                            <input class="add-to-cart-quantity" type="text" name="quantity" value="1">
                            <a class="add-to-cart-right">+</a>
                            <input type="hidden" id="RequestVerificationToken"
                                   name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()" />
                        </div>
                            }
                            else
                            {
                                <div style=" background-color: grey;color: black" class="tt-color01 tt-badge">
                                    <span data-stock="1" data-pid="44977" data-prid="44769" style="padding-right: 5px;" class="add-to-cart-span">Регистрирайте се, за да поръчате</span>
                                </div>
                            }
                            <p>@Model.Barcode</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-cart-popup">
    Успешно добавихте продукта в количката!
</div>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Scripts {
    <script src="~/js/AddToCart.js"> </script>
}
