@using TechZoneBgWebProject.Common
@using TechZoneBgWebProject.Web.Infrastructure.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ремонт на смартфони, ремонт на таблети, ремонт на компютри, смяна на счупено стъкло на дисплей цена, ремонт на лаптопи, сервиз за телефони,">
    <meta name="keyword" content="Ремонт на смартфони, ремонт на таблети, ремонт на компютри, смяна на счупено стъкло на дисплей цена, ремонт на лаптопи, сервиз за телефони,">
    <meta property="og:title" content="TechZoneBG" />
    <meta property="og:image" content="~/images/itech Logo1.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1R1S86K8BE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1R1S86K8BE');
    </script>
    <title>@this.ViewData["Title"] - TechZoneBG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/selectize/dist/css/selectize.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-xl">
                <a class="navbar-brand white_text" asp-area="" asp-controller="Products" asp-action="All"><img src="~/images/TechZone Logo.png" width="272" height="48"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex flex-md-row-reverse white_text">
                    <partial name="_LoginPartial" />
                    <a class="c" style=" font-size: 24px; text-align: center; " asp-area="" asp-controller="Carts" asp-action="Cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <vc:cart-sum></vc:cart-sum>
                        <div id="cartSum" class="cart"></div>
                    </a>
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User.IsTechzoneBgEmployee())
                        {
                            <li class="nav-item">
                                <a class="nav-link white-text" asp-area="" asp-controller="Orders" asp-action="New">Поръчки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white-text" asp-area="" asp-controller="Devices" asp-action="All">Swipe</a>
                            </li>
                        }
                        else if (this.User.IsSwipegEmployee())
                        {
                            <li class="nav-item">
                                <a class="nav-link white-text" href="https://shop.techzone-bg.com/api/products/swipe">API</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white-text" asp-area="" asp-controller="Devices" asp-action="All">Swipe</a>
                            </li>
                        }
                        else if (this.User.IsModerator())
                        {
                            @*<li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Products" asp-action="All" asp-route-id="@this.User.GetId()">Moderator</a>
            </li>*@
                        }
                        else if (this.User.IsAdministrator())
                        {
                            <li class="nav-item">
                                <a class="nav-link white-text" asp-area="" asp-controller="Orders" asp-action="New">Поръчки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white-text" href="https://shop.techzone-bg.com/api/products/swipe">Swipe</a>
                            </li>
                            @*<li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Products" asp-action="All" asp-route-id="@this.User.GetId()">TechZoneBg</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Products" asp-action="All" asp-route-id="@this.User.GetId()">Swipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Products" asp-action="All" asp-route-id="@this.User.GetId()">Moderator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Posts" asp-action="Create">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Posts" asp-action="Following">Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Tags" asp-action="All">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Categories" asp-action="All">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Chat" asp-action="All" asp-route-id="@this.User.GetId()">Messages</a>
            </li>*@

                        }
                        else
                        {
                            @*<li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Posts" asp-action="Create">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Posts" asp-action="Following">Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Tags" asp-action="All">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" asp-area="" asp-controller="Categories" asp-action="All">Categories</a>
            </li>*@

                            @if (this.User.Identity.IsAuthenticated)
                            {
                                @*<li class="nav-item">
                    <a class="nav-link white-text" asp-area="" asp-controller="Chat" asp-action="All" asp-route-id="@this.User.GetId()">Messages</a>
                </li>*@
                            }
                        }

                    </ul>

                </div>
                
                    
               
            </div>
            <div class="social">
                <p class="d">
                    <a class="c" href="viber://chat?number=359878432079" target="_blank" title="Viber">
                        <i class="fab fa-viber"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.facebook.com/messages/t/TechZoneBG11" target="_blank" title="Messenger">
                        <i class="fab fa-facebook-messenger"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.facebook.com/TechZoneBG11/" target="_blank" title="Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.instagram.com/techzonebg/" target="_blank" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.youtube.com/channel/UCr_JWBo47P0706JHxWmoNAw/" target="_blank" title="Youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </p>
            </div>

        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 main">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @this.RenderBody()
                </main>
            </div>
            <aside class="col-xl-3 mb-5">
                <div class="g-mb-20">
                    <cache expires-after="@TimeSpan.FromSeconds(10)">
                        <vc:main-news></vc:main-news>
                    </cache>
                </div>
            </aside>
        </div>

    </div>

    <partial name="_SymbolsPartial" />

    <footer class="border-top footer white-text">
        <div class="container" style="color:white">
            TechZoneBG &copy; 2020 - @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/bundle.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/tinymce/tinymce.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/site.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/48ab6649dd.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea#customTextArea',
            height: 300,
            plugins: [
                'lists advlist link autolink image media preview hr anchor',
                'code codesample paste',
                'table emoticons help'
            ],
            toolbar: [
                'bold italic | emoticons link codesample image media | hr bullist numlist alignleft aligncenter alignright alignjustify |'
            ],
            link_default_protocol: "https",
            menubar: false
        });
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
